

body {
  
  background: linear-gradient(90deg, #451ad3, rgb(77, 110, 226) 35%, rgba(0,176,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'varela Round', sans-serif;
}
.maincontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 60%;
}
.subcontainer{
  width: 80%;
  background-color: #fff;
  }
  .Product_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-bottom: 219px;
    margin-left: 69px;
}
  

h1 {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  margin: 50px;
}
.first_card{
  width: 80%;
  margin-left: 10px;

}
.total{
  display: flex;
  align-items: center;
  justify-content:space-around;
}



label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 90%;
}
.list_amount{
  width: 25%;
  position: absolute;
  margin-left: 19px;
  top: 309px;
  
}
.red{
  color: red;
}


.btn {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(110, 185, 238, 0.3) 0%, rgb(57, 129, 202) 35%, rgb(26, 119, 226) 100%);
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 70%;
  }
  .fa fa-trash:hover{
    display: block;
  }

/* .btn:focus,
.delete-btn:focus {
  outline: 0;
} */
li{
  list-style: none;
}
.list{
  width: 250px;
    height: 110px;
    overflow: auto;

}
.items{
  height: 20px;
  display: flex;
  justify-content: space-around;
  gap: 18px;
}
.del{
  color: white;
}
.del:hover{
  color: red;
}
.Total {
  display: flex;
  gap: 25%;
}


.none{
  display: none;
 
}
.items:nth-child(odd){
  background-color: rgb(218, 215, 221);

}
